<div *ngIf="loaded">
  <form action="" (submit)="updateProperty(f)" #f="ngForm">
    <div class="row">
      <div class="col col-12 col-sm-6">
        <h4>Property information</h4>
        <div class="row">
          <div class="col col-6">
            <div class="form-group">
              <label for="code">Code</label>
              <input type="text" class="form-control" id="code" name="code" [(ngModel)]="item.code" required>
            </div>
          </div>
          <div class="col col-6">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="item.name" required>
            </div>
          </div>
          <div class="col col-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" class="form-control" id="description" [(ngModel)]="item.description" required cols="3" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-sm-6">
        <h4>Features</h4>
        <form (submit)="createFeature(g)" #g="ngForm">
          <div class="row">
            <div class="col col-5">
              <div class="form-group">
                <label for="featureName">Name</label>
                <input type="text" class="form-control" id="featureName" name="featureName" ngModel required>
              </div>
            </div>
            <div class="col col-5">
              <div class="form-group">
                <label for="featureDescription">Desc</label>
                <input type="text" class="form-control" id="featureDescription" name="featureDescription" ngModel required>
              </div>
            </div>
            <div class="col col-2">
              <br>
              <button type="submit" class="btn btn-success float-right" [disabled]="!g.valid">Add</button>
            </div>
          </div>
        </form>
        <div class="row">
          <table class="table">
            <tbody>
            <tr *ngFor="let feature of localFeatures; let i = index" >
              <td>{{ feature.name }}</td>
              <td>{{ feature.description }}</td>
              <td>
                <button class="btn btn-danger float-right btn-sm" (click)="deleteFeature(feature.id, i)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button class="btn btn-primary float-right" type="submit" [disabled]="!f.valid">Update</button>
  </form>
</div>
<br>
