<h4>{{ title }}</h4>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let mark of markers"  [latitude]="mark.lat" [longitude]="mark.lng" >
    <agm-info-window>
      <strong>{{mark.name}} </strong><br> {{mark.address}}
      <br>
      <a routerLink="/property/{{mark.id}}">Ver</a>
    </agm-info-window>
  </agm-marker>
</agm-map>
<br>