<div class="row">
  <div class="col col-8">
    <h4>My properties</h4>
  </div>
  <div class="col col-4">
    <button class="btn btn-success float-right btn-sm" routerLink="/property/create">Add property</button>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>City</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let marker of markers; let i = index">
    <td><a routerLink="/property/{{marker.id}}">{{ marker.code }}</a></td>
    <td>{{marker.name}}</td>
    <td>{{marker.locality}}</td>
    <td>
      <button routerLink="/property/{{marker.id}}/edit" class="btn btn-primary btn-sm">Edit</button>
      <button (click)="delete(marker.id, i)" class="btn btn-danger btn-sm">Delete</button>
    </td>
  </tr>
  </tbody>
</table>