<div *ngIf="loaded">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col col-12">
          <h4>{{ item.code }}, {{ item.name }}</h4>
        </div>
        <div class="col col-12">
          <h5>{{ item.locality + ', '+ item.route + ', '+ item.political + ', '+ item.street_number }}</h5>
        </div>
        <div class="col col-12">
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <h5>Features</h5>
      <table class="table">
        <thead>
        <tr>
          <th>Field</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let feature of item.features">
          <td>{{ feature.name }}</td>
          <td>{{ feature.description }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <h5>Gallery</h5>
  <div class="row">
    <div align="center" class="col col-12 col-sm-4"  *ngFor="let image of item.images" style="padding-bottom: 5px;">
      <img [src]="image.name" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
