<form (submit)="createProperty(f)" #f="ngForm">
  <div class="row">
    <div class="col col-12 col-sm-6">
      <h4>Property information</h4>
      <div class="row">
        <div class="col col-6">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" name="code" ngModel required>
          </div>
        </div>
        <div class="col col-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ngModel required>
          </div>
        </div>
        <div class="col col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" cols="3" rows="3" ngModel required></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-sm-6">
      <h4>Features</h4>
      <form (submit)="createFeature(g)" #g="ngForm">
      <div class="row">
        <div class="col col-5">
          <div class="form-group">
            <label for="featureName">Name</label>
            <input type="text" class="form-control" id="featureName" name="featureName" ngModel required>
          </div>
        </div>
        <div class="col col-5">
          <div class="form-group">
            <label for="featureDescription">Desc</label>
            <input type="text" class="form-control" id="featureDescription" name="featureDescription" ngModel required>
          </div>
        </div>
        <div class="col col-2">
          <br>
          <button type="submit" class="btn btn-success float-right" [disabled]="!g.valid">Add</button>
        </div>
      </div>
      </form>
      <div class="row">
        <table class="table">
          <tbody>
          <tr *ngFor="let feature of localFeatures; let i = index" >
            <td>{{ feature.name }}</td>
            <td>{{ feature.description }}</td>
            <td>
              <button class="btn btn-danger float-right btn-sm" (click)="deleteFeature(i)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<h4>Location</h4>
<div class="form-group">
  <input placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" [(ngModel)]="finalAddress">
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapClick)="markPlace($event)">
  <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="selectedMarker"></agm-marker>
</agm-map>
<br>

  <div class="row">
    <div class="col col-4">
      <div class="form-group">
        <label for="administrative_area_level_1">Lat</label>
        <input type="text" class="form-control" [(ngModel)]="latitude" name="lat" id="lat" required>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="administrative_area_level_1">Lng</label>
        <input type="text" class="form-control" [(ngModel)]="longitude" name="lng" id="lng" required>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="administrative_area_level_1">Area1</label>
        <input type="text" class="form-control" [(ngModel)]="address.administrative_area_level_1" name="administrative_area_level_1" id="administrative_area_level_1" required>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="administrative_area_level_1">Area2</label>
        <input type="text" class="form-control" [(ngModel)]="address.administrative_area_level_2" name="administrative_area_level_2" id="administrative_area_level_2">
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="administrative_area_level_1">Area3</label>
        <input type="text" class="form-control" [(ngModel)]="address.administrative_area_level_3" name="administrative_area_level_3" id="administrative_area_level_3">
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="administrative_area_level_1">Country</label>
        <input type="text" class="form-control" [(ngModel)]="address.country" name="country" id="country" required>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="administrative_area_level_1">Locality</label>
        <input type="text" class="form-control" [(ngModel)]="address.locality" name="locality" id="locality" required>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="political">Political</label>
        <input type="text" class="form-control" [(ngModel)]="address.political" name="political" id="political" required>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="political">Postal code</label>
        <input type="text" class="form-control" [(ngModel)]="address.postal_code" name="postal_code" id="postal_code">
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="political">Route</label>
        <input type="text" class="form-control" [(ngModel)]="address.route" name="route" id="route" required>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-group">
        <label for="political">Street number</label>
        <input type="text" class="form-control" [(ngModel)]="address.street_number" name="street_number" id="street_number" required>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success float-right" [disabled]="!f.valid">Create</button>
  <!-- [disabled]="!f.valid" -->
</form>
<br>
